<div id="mydiv" style="position:absolute">

    <div id="mydivheader">Click here to move</div>

    <form class="column is-half is-offset-one-quarter" action="/posts/reply/<%=data.post._id%>" method="POST" enctype="multipart/form-data">

        <div class="field">
            <p class="control">
                <textarea class="textarea" name="body" cols="30" rows="10" placeholder="Max 5000 characters" maxlength="5000" required></textarea>
            </p>
        </div>
        
        <div class="field">
            <p class="control has-icons-left">
                <input class="input" type="file" name="image" id="image" accept="image/png, image/jpeg, image/jpg">
                <span class="icon is-small is-left">
                    <i class="bi bi-images"></i>
                </span>
            </p>
        </div>
    
    
        <div class="field">
            <p class="control">
                <button type="submit" class="button is-success">
                    Post
                </button>
            </p>
        </div>
    
    </form>
</div>

<script>


    dragElement(document.getElementById("mydiv"));

    function dragElement(elmnt) {
        var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
        if (document.getElementById(elmnt.id + "header")) {
            // if present, the header is where you move the DIV from:
            document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
        } else {
    // otherwise, move the DIV from anywhere inside the DIV:
            elmnt.onmousedown = dragMouseDown;
        }

  function dragMouseDown(e) {
    e = e || window.event;
    e.preventDefault();
    // get the mouse cursor position at startup:
    pos3 = e.clientX;
    pos4 = e.clientY;
    document.onmouseup = closeDragElement;
    // call a function whenever the cursor moves:
    document.onmousemove = elementDrag;
  }

  function elementDrag(e) {
    e = e || window.event;
    e.preventDefault();
    // calculate the new cursor position:
    pos1 = pos3 - e.clientX;
    pos2 = pos4 - e.clientY;
    pos3 = e.clientX;
    pos4 = e.clientY;
    // set the element's new position:
    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
  }

  function closeDragElement() {
    // stop moving when mouse button is released:
    document.onmouseup = null;
    document.onmousemove = null;
  }
}
</script>