<% layout('partials/navbar')%>


    <div class="columns">
      <%- include('../partials/aside') %>

        <form class="column mt-6 is-offset-one-fifth is-one-quarter" action="/users/edit/password/<%=user._id%>?_method=PUT" method="POST">
            
            <div class="field">
                <h1 class="title is-4">Change your password</h1>
            </div>

            <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="password" name="oldpass" placeholder="Current Password" required>
                  <span class="icon is-small is-left">
                    <i class="bi bi-lock"></i>
                  </span>
                </p>
            </div>

            <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="password" name="newpass" placeholder="New Password" required>
                  <span class="icon is-small is-left">
                    <i class="bi bi-lock"></i>
                  </span>
                </p>
            </div>

            <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="password" name="newpass2" placeholder="Enter new password again" required>
                  <span class="icon is-small is-left">
                    <i class="bi bi-lock-fill"></i>
                  </span>
                </p>
            </div>
                  
            <div class="field">
                <p class="control">
                        <button type="submit" class="button is-success">
                            Change
                        </button>
                </p>
            </div>
            <a href="/users/settings/<%=user._id%>">Discard</a>
        </form>

        
    </div>
