<% layout('partials/navbar')%>

<div class="mt-6">
    <div class="columns mt-6">

        <form class="column is-half is-offset-one-quarter" action="/users/password/<%=user._id%>?_method=PUT" method="POST">
            
            <div class="field">
                <h1 class="title is-4">Change your password</h1>
            </div>

            <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="password" name="oldpass" placeholder="Current Password" required>
                  <span class="icon is-small is-left">
                    <i class="bi bi-lock"></i>
                  </span>
                </p>
            </div>

            <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="password" name="newpass" placeholder="New Password" required>
                  <span class="icon is-small is-left">
                    <i class="bi bi-lock"></i>
                  </span>
                </p>
            </div>

            <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="password" name="newpass2" placeholder="Enter new password again" required>
                  <span class="icon is-small is-left">
                    <i class="bi bi-lock-fill"></i>
                  </span>
                </p>
            </div>
                  
            <div class="field">
                <p class="control">
                        <button type="submit" class="button is-success">
                            Change
                        </button>
                </p>
            </div>
            <a href="/users/settings/<%=user._id%>">Discard</a>
        </form>

        
    </div>
</div>
<!-- 
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <title>Change Password</title>
</head>
<body>
    <h1>Change your password</h1>

    <form action="/users/password/<%=user._id%>?_method=PUT" method="POST">
        <label for="oldpass">Enter your password</label>
        <input type="password" name="oldpass" id="oldpass">

        <label for="newpass">Enter a new password</label>
        <input type="password" name="newpass" id="newpass">

        <label for="newpass2">Enter the password again</label>
        <input type="password" name="newpass2" id="newpass2">

        <button type="submit">Edit</button>
    </form>

    <a href="/users/settings/<%=user._id%>">Discard</a>
</body>
</html> -->