<% layout('partials/navbar')%>


    <% for (let post of posts) { %>
    <% if (post.isMain) { %>
    
    <div class="block">
        <figure class="">
            <img src="<%=post.imageURL%>" alt="post">
        </figure>

        <a href="posts/<%= post._id %>"> <%= post.title %></a>
    </div>
    <% } } %>
