<% layout('partials/navbar')%>

<div class="mt-6">
    <div class="columns mt-6">

        <form class="column is-half is-offset-one-quarter" action="/new" method="POST" enctype="multipart/form-data">
            <div class="field">
                <h1 class="title is-4">New Post</h1>
            </div>
            
            <div class="field">
                <p class="control has-icons-left">
                  <input class="input" type="text" name="title" placeholder="Title" required>
                  <span class="icon is-small is-left">
                    <i class="bi bi-card-heading"></i>
                  </span>
                </p>
            </div>
        
            <div class="field">
                <p class="control has-icons-left">
                    <textarea class="textarea" name="body" cols="30" rows="10" placeholder="Max 5000 characters" maxlength="5000" required></textarea>
                </p>
            </div>
            
            <div class="field">
                <p class="control has-icons-left">
                    <input class="input" type="file" name="image" id="image" accept="image/png, image/jpeg, image/jpg" required>
                    <span class="icon is-small is-left">
                        <i class="bi bi-images"></i>
                    </span>
                </p>
            </div>
        
        
            <div class="field">
                <p class="control">
                    <button type="submit" class="button is-success">
                        Post
                    </button>
                </p>
            </div>
        
        </form>
    </div>
</div>



<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <title>New Post</title>
</head>
<body>
    <form action="/new" method="POST" enctype="multipart/form-data">

        <input type="text" name="title" required>
        <label for="Title">Title</label>

        <input type="text" name="body" required>
        <label for="Body">Body</label>

        <input type="file" name="image" id="image" accept="image/png, image/jpeg, image/jpg">
        <label for="image">Image</label>


        <button type="submit">Submit this piece of shit</button>
    </form>
</body>
</html> -->